@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Błąd";
}
<hgroup class="title">
    <h1 class="error">Błąd.</h1>
    <br />
    <h2 class="error">Wystąpił błąd podczas wykonywnaia operacji.</h2>
</hgroup>
