<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="HRDOCS_DB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=HRDOCS;Integrated Security=True"/>
    <add name="HRDOCS_AD_1" connectionString="LDAP://OU=WAR,OU=Users,OU=North-Eastern,OU=Europe,DC=ingrnet,DC=com"/>
    <add name="HRDOCS_AD_2" connectionString="LDAP://OU=LOD,OU=Users,OU=North-Eastern,OU=Europe,DC=ingrnet,DC=com"/>
  </connectionStrings>
</configuration>