<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HRDOCS_DB" connectionString="Data Source=.;Initial Catalog=HRDOCS;Integrated Security=True" />
    <add name="HRDOCS_AD_1" connectionString="LDAP://OU=WAR,OU=Users,OU=North-Eastern,OU=Europe,DC=ingrnet,DC=com" />
    <add name="HRDOCS_AD_2" connectionString="LDAP://OU=LOD,OU=Users,OU=North-Eastern,OU=Europe,DC=ingrnet,DC=com" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>