@{
    ViewBag.Title = "Strona startowa";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>To jest strona startowa.</h2>
                <br />
                <h3>Tutaj wrzucamy to co pracownik winien zawsze zobaczyć.</h3>
            </hgroup>
            <p>
                TODO - Tutaj można by wstawić jakieś istotne komunikaty dla pracowników...
            </p>
        </div>
    </section>
}
<h3>TODO - Nasze sugestie::</h3>
<ol class="round">
    <li class="one">
        <h5>Zaczynamy...</h5>
        Wszystko czego szukasz znajdziesz tutaj.
        <a href="http://www.google.pl">Zobacz więcej na…</a>
    </li>

    <li class="two">
        <h5>Jeśli chcesz...</h5>
        TODO 2.
        <a href="http://www.onet.pl">Zobacz więcej na…</a>
    </li>

    <li class="three">
        <h5>Jeśli chcesz...</h5>
        TODO 3.
        <a href="http://www.wp.pl">Zobacz więcej na…</a>
    </li>
</ol>
